- fields_list = ['subject', 'type', 'status', "labels"]

#caseTable.data-table
  = render 'shared/list_header', headers: fields_list
  .table-content
    - if @cases.present?
      - @cases.each do |case_item|
        .item
          %span= case_item.subject
          %span= case_item.type
          %span= case_item.status
          - if case_item.labels.any?
            %span= case_item.labels.join(" ,")
          %span
            = link_to("Edit", edit_case_path(case_item.id))
    - else
      %div No Cases Available
